body {
  background-color: rgb(242, 245, 248)
}
.table {
    color: #333333;
    width:50%;
    border-width: 1px;
    border-color: #729ea5;
    border-collapse: collapse;
    border: 1px;
    align: center;
}
.table th {
  font-size:12px;
  background-color:#acc8cc;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align:center;
}
.table tr {
  background-color:#d4e3e5;
}
.table td {
  font-size:12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: #729ea5;
  text-align: center
}
.table tr:hover {
  background-color:#ffffff;
}
    

    