/* entire document */
body {
  background-color: rgba(248, 235, 219, 0.363);
  font-family: Arial, Helvetica, sans-serif
}

/* header */
header {
  width: 960px;
  margin:  auto;
  background-color: #444
  margin-top: 25px;
  height: 100px;
}

h1 {
  color: rgb(65, 28, 1);
  font-size: 3em;
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 25px;
  font-weight: bolder;
}

nav header {
  width: 960px;
  margin: left;
  text-align: center;
}

header span {
  display: inline-block;
  line-height: 100px;
  margin-left: 90px;
}
header span:nth child(2) {
  margin-left: 30px;
}

header image {
  margin-top: 15px;
  float: left;
}
nav a {
  text-decoration: none;
  color: #412121;
}
header span {
  line-height: 25px;
}

header span {
  display:inline-block;
  border: 1px solid rgb(65, 28, 1);
  padding: 5px;
  border-radius: 10px;
  background-color: rgb(142, 173, 230);
  margin: 5px;
}

a {
  color: rgb(65, 28, 1);
  text-decoration: inherit;
}

/* main */
main {

  width: 960px;
  margin:  auto;
}
main > section {
  margin-top: 30px;
}
main img {
  margin-top: 30px;
}
main li:first-child {
  margin-left: 0px;
}
main li {
  float: left;
  margin-left: 30px;
}

/* Article */

main article {
  width: 50%;
  float: right;
  margin-top: 30px;
}

article h2 {
  font-size: 20px;
  color: rgb(36, 82, 167);
  font-weight: bold;
  text-align: center;
  margin: 5px;
}

article p {
  text-align: justify;
  color: rgb(36, 82, 167);
  padding-right: 5px;
  font-size: 1.1em;
  line-height: 19px;
  margin-top: 5px;
  margin-left: 30px;
  overflow: auto;
  height: 320px;
}

h3 {
  font-size: 2em;
  color: rgb(36, 82, 167);
  font-weight: bold;
  margin: 25px 0px 5px 25px;
}
main div {
  background-color: salmon;
  color: rgb(36, 82, 167);
  margin-left: 30px;
  font-size: 20px;
  margin-top: 5px;
  display: inline-block;
  padding: 10px 30px;
  border-color%;
}
main div:hover {
  background: rgb(36, 82, 167);
  color: salmon;
  transition: 600ms;
}

/* footer */
footer {
  width: 960px;
  height:
  margin:  auto;
  margin-top: 25px;
}

td, th {
  padding: 5px;
  border: 2px;
}